<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simulator_01.css') }}">
    <script>
        setTimeout(function() {
            window.location.href = 'sim_M';
        }, 3000); 
    </script>
</head>
<body>
    <div class="container">
        <p class="loading-text">Loading. Please wait...</p>
        <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading" class="loading-image">
    </div>
</body>
</html>