<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page with Image and Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simulator_01.css') }}">
</head>
<body>
    <div class="container image-container">
        <h1> Take out the money from the money drawer</h1>
        <img src="{{ url_for('static', filename='images/money.gif') }}" alt="Sample Image" class="image">
        <button class="full-width-button" onclick="window.location.href='/simulator'">take out your card</button>
    </div>
</body>
</html>